:root {
  /* colors */
  --color-white: #ffffff;

  --color-gray-50: #fdfdfd;
  --color-gray-100: #f8f8f8;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #d5d5d5;
  --color-gray-400: #b1b1b1;
  --color-gray-500: #909090;
  --color-gray-600: #6d6d6d;
  --color-gray-700: #464646;
  --color-gray-800: #222222;
  --color-gray-900: #151515;

  --color-black: #000000;

  --color-blue-100: #e0f2ff;

  --color-red-800: #ea3829;

  --color-yellow-300:	#f8d904;
  --color-yellow-400:	#e8c600;


  --color-cyan-500: #33c5e8;
  --color-cyan-600: #12b0da;

  /* font variables */
  --placeholder-font-color: var(--color-gray-400);
  --error-font-color: var(--color-red-800);

  /* config variables */
  --config-border-radius: 8px;
  --config-header-height: 50px;
  --config-content-margin: 5%;

   /* z indexs */
   --z-header: 1;
   --z-docs-menu: 2;
   --z-modal: 3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-white: #000000;

    --color-gray-50: #151515;
    --color-gray-100: #222222;
    --color-gray-200: #464646;
    --color-gray-300: #6d6d6d;
    --color-gray-400: #909090;
    --color-gray-500: #b1b1b1;
    --color-gray-600: #d5d5d5;
    --color-gray-700: #e6e6e6;
    --color-gray-800: #f8f8f8;
    --color-gray-900: #fdfdfd;
  
    --color-black: #ffffff;
  }
}

@media screen and (min-width: 1025px) {
  :root {
    --config-header-height: 60px;
    --config-content-margin: 10%;

    --z-header: 2;
    --z-docs-menu: 1;
  }
}