@use '/src/styles/views.scss';

.content {
  min-height: 60svh;
  overflow: hidden;
  grid-column: startContent/endContent;
  margin: 40px 0 12rem;

  @include views.desktop {
    padding-right: 5vw;
  }

  p {
    text-align: justify;
  }
}