@use '/src/styles/views.scss';

.content {
  min-height: 100vh;
  grid-column: 2/4;
  width: 100%;
  overflow: scroll;

  @include views.desktop {
    grid-column: 3/4;
    padding-right: var(--config-content-margin);
  }
}

.content p {
  text-align: justify;
}