.codeContainer {
  position: relative;
  border-radius: var(--config-border-radius);
  overflow: hidden;
  
  .copy {
    position: absolute;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px;
    right: 12px;
    top: 12px;
    border-radius: var(--config-border-radius);
    cursor: pointer;
    opacity: 0.8;
  }

  .scroll {
    overflow-x: scroll;
    background-color: var(--primary-color);

    code {
      display: block;
      padding: 20px 80px 20px 20px;
      width: min-content;
      color: var(--secondary-color);
    }
  }
}