.codeContainer {
  position: relative;
  margin: 10px 0;

  .copy {
    position: absolute;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px;
    right: 12px;
    top: 12px;
    border-radius: var(--config-border-radius);
    cursor: pointer;
  }

  code {
    display: block;
    border-radius: var(--config-border-radius);
    padding: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    overflow-x: scroll;
  }

}